@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    background-color: rgb(231, 186, 101);
    margin-left: 25%;
    margin-right: 25%;
}
div{
   
    background-color: rgb(178, 215, 224);
    color: black;
    justify-content: center;
    border: 3px dashed black;
}
h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-bottom: 3px dashed black;
    font-style: italic;
}
p{
    margin: 15px;
}
ul{
     margin-left:25% ;
     margin-right:25% ;
     font-style: italic;
     list-style-type: none;
}
.copyright{
    display: flex;
    font-size: 12px;
    justify-content: center;
}
